@config "../tailwind.config.js";
@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  @apply bg-bg-primary text-text-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
